{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<h1> Team Members </h1>
<form action="" method="POST">
  <div class="input-group mb-3">
    {% csrf_token %}
    <input name="member" type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="button-addon2" required>
    <button class="btn btn-success" type="submit" id="button-addon2">Add Member</button>
  </div>
</form>
{% for member in members %}
{% if member != user %}
<form action="" method="POST">

  {% csrf_token %}
    <p id="p5">{{member}}   <button type="submit" class="btn btn-outline-danger btn-sm" name='delete_member' value="{{member.id}}">Remove Member</button></p>

</form>
{% endif %}
{% endfor %}

{% if messages %}
{% for message in messages %}
{% if message.tags %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  {{message}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}
{% endfor %}
{% endif %}
<div class="d-grid gap-2 d-md-block">
  <a href="{% url 'teams_workflows' user.username team.id %}" class="btn btn-outline-primary" type="button">{{team.name}}'s Workflows</a>
</div>
{% endblock content %}
