
    {% extends "Main_Page/base.html" %}
    {% block content %}

            <html>
            <head>
                <link rel="stylesheet" type="text/css" href="static/Main_Page/reset.css">
                <link rel="stylesheet" type="text/css" href="css/style.css">
                <link href='http://fonts.googleapis.com/css?family=Crete+Round' rel='stylesheet' type='text/css'>
                <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
                <title>Simply</title>
                <!--[if lt IE 9]>
                <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
                <![endif]-->
            </head>

            <body>

                    <!-- Hero Image -->
                    <div id="hero-image">
                        <div class="wrapper">
                            <h2><strong>Project Management App</strong><br/>
                            Bloat Free</h2>
                            <a href="{% url 'Register-Page' %}" class="button-1">Get Started</a>
                        </div>
                    </div>

                    <!-- Features -->
                    <div id="features">
                        <div class="wrapper">
                            <ul>
                                <li class="feature-1">
                                    <h4>Easy to Use</h4>
                                    <p>No-code automations let you put your team’s workflow on autopilot. Alerts, automatic status updates, and project flows will keep your team on track and confident in what they’re working on.</p>
                                </li>

                                <li class="feature-2">
                                    <h4>Create and Edit Workflow's</h4>
                                    <p>Create custom and automatic workflows to boost your team's productivity.</p>
                                </li>
                                 <li class="feature-3">
                                    <h4>Keep everyone in-sync and focused</h4>
                                    <p>Align on goals, set priorities, and manage deadlines easily. Make sure your team is always on the same page, even with sudden changes, on a platform as flexible as you are.</p>
                                </li>
                                <div class="clear"></div>
                            </ul>
                        </div>
                    </div>



                    <div id="cta">
                        <div class="wrapper">
                            <h3>Heard Enough?</h3>
                            <p> Communicate, assign ownership, and move projects forward— no meetings necessary. Contextualized knowledge available to everyone means you can feel confident that next-steps are always taken care of. </p>
                            <a href="{% url 'Register-Page' %}" class="button-2">Get Started</a>
                        </div>
                    </div>

                    <footer>
                        <div class="wrapper">
                            <div id="footer-info">
                                <p>Copyright 2021 ZeitNehmer CORP. All rights reserved.</p>
                                <p><a href="#">Terms of Service</a> I <a href="#">Privacy</a></p>
                            </div>
                            <div id="footer-links">

                                <ul>
                                    <li><h5>Company</h5></li>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Meet The Team</a></li>
                                    <li><a href="#">What We Do</a></li>
                                    <li><a href="#">Careers</a></li>
                                </ul>
                            </div><div class="clear"></div>
                        </div>
                    </footer>

            </body>
            </html>
    {% endblock content%}

