{% extends "base.html" %}
{% load render_table from django_tables2 %}
{% block content %}
<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->

  <title>Simply</title>
</head>
<body>

  <div class="container">
    <div class="row justify-content-between">
    <div class="col-4">
      <h1> "Project Name" </h1>
    </div>
    <div class="col col-4 align-self-center">
      <a href="{% url 'creation' %}" class= "btn btn-primary">New Workflow</a>
    </div>
  </div>
</div>
  {% render_table table %}
</body>
</html>
{% endblock content%}
